.rule-engine-app-title{
    color:var(--theme2-color1);
    font-weight: bold;
    font-size:16px;
    letter-spacing: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.rule-engine .aio-input.has-error{
    border:1px solid rgb(187, 33, 33) !important;
}
.add-rule{
    padding:24px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}
.rule-engine .aio-input{
    background:var(--theme2-dark1);
}
.add-rule .aio-input{
    margin-bottom:16px;
    background:var(--theme2-dark1) !important;
    border:none;
}
.add-rule-label{
    font-size:14px;
    margin-bottom:3px;
}
.rule-engine-test-code{
    min-height:240px !important;
    background:#222 !important;
    border:none !important;
    color:#fff;
    width:100%;
    resize: vertical;
    padding:6px 12px;
    box-sizing: border-box;
}
.rule-engine-activation-error{
    font-size:10px;
    gap:6px;
    height:16px;
    color:red;
    display:flex;
    align-items: center;
    margin-bottom:12px;
}
.rule-engine-form-row{
    background:var(--theme2-dark1);
    border:1px solid #aaa;
    border-radius: 6px;;
}
.rule-engine-card-tag{
    background: var(--theme2-color1);
    color:#fff !important;
}
.rule-engine-code-editor-indent{
    background:#454545;
}
.rule-engine-form-row .aio-input{
    border-radius:8px;
}
.rule-editor{
    display:flex;
    flex-direction: column;
    gap:6px;
}
.rule-editor .aio-input{
    background:#eee;
}
